<form action="/posts" method="post">
  Post Title: <input id="name" type="text" name="name">
  Post Content: <input id="content" type="text" name="content">
  <input type="submit" id='submit'>
</form>
